<div class="" *ngIf="!tuyenDuongs">
  <h1>Chưa Có Thông Tin Chức Vụ</h1>
  <button (click)="FormAddXe()"cButton color="success">Add</button>
  </div>
  <div class="" *ngIf="tuyenDuongs">
    <table cTable>
      <thead>
      <tr>
      <th scope="col">MSTD</th>
      <th scope="col">Tên Tuyến Đường</th>
      <th scope="col">Điểm Đi</th>
      <th scope="col">Điểm Đến</th>
      </thead>
      <tbody>
      <tr *ngFor="let item of tuyenDuongs">
      <td>{{item.mstd}}</td>
      <td>{{item.tenTD}}</td>
      <td>{{item.diemDi}}</td>
      <td>{{item.diemDen}}</td>
      <td>
        <button (click)="getOneTD(item.mstd)" cButton color="warning">Edit</button>
        <button (click)="Delete(item.mstd)" cButton color="danger">Delete</button>
      </td> 
      </tr>
      </tbody>
      <button (click)="FormAddXe()"cButton color="success">Add</button>
      </table>
  </div>